extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut dapibus tellus. Cras semper metus est. Morbi vestibulum eros quam, sit amet tincidunt turpis dignissim quis. In tristique mollis sapien, ut consectetur libero fermentum in. In iaculis, sapien vitae tempus laoreet, urna nulla scelerisque velit, in finibus tellus justo et purus. 
                p Cras tempor sapien commodo, tincidunt ante sit amet, pretium massa. Etiam nec mauris at quam feugiat rutrum. In at sem ut mi malesuada lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tristique ipsum fermentum consectetur suscipit.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" Imagen Nosotros", class="img-fluid")

        include ./layout/bloque_viajes
    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
