extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus et odio eu convallis. Nullam luctus blandit felis, at condimentum ante malesuada at. Aenean ut arcu sagittis, vehicula massa ac, condimentum tortor. Curabitur sodales blandit lacinia. Nam a nisl metus. Nulla facilisi. Suspendisse ac ultrices sapien. Etiam dapibus cursus urna id lacinia. In hac habitasse platea dictumst. Aenean quis pretium quam.

                p Donec luctus vulputate lectus, at porttitor lacus lobortis id. Nulla facilisi. Etiam nec scelerisque diam, id faucibus enim. Aliquam vulputate ullamcorper purus tempus ornare. Nunc congue, eros quis blandit pharetra, purus elit posuere lacus, vitae tempus metus lacus at turpis. Aliquam et enim elit. Nullam ac elit sapien. 

                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam placerat eu diam ac porta. Proin molestie pellentesque urna sit amet condimentum. Integer euismod consectetur turpis blandit imperdiet. Vestibulum non elementum quam, eget ultrices quam. Mauris congue ornare nisi, in ultrices mauris auctor sit amet. Sed eget libero fringilla, elementum dui ultrices, fermentum sem.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class= "img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin molestie pellentesque urna sit amet condimentum. Integer euismod consectetur turpis blandit imperdiet.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class= "img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin molestie pellentesque urna sit amet condimentum. Integer euismod consectetur turpis blandit imperdiet.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class= "img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Proin molestie pellentesque urna sit amet condimentum. Integer euismod consectetur turpis blandit imperdiet.